/* Background.css */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eadfe9; /* Change to your desired background color */
    z-index: -1; /* Place the background behind everything */
  }