/* Footer.css */

.footer {
  position: fixed;
  font-weight: 700px;
  display: flex;
  flex-direction: column;
  background-color: #7930d8;
  padding: 20px;
  text-align: center;
  color: #00f355;
  font-size: 14px;
  font-size: large;
  bottom: 0;
  width: 100%;
}

.foot {
  flex-direction: row;
}
