/* Footer.css */

.footer {
  position: fixed;
  font-weight: 700px;
  display: flex;
  flex-direction: column;
  background-color: #a9a9a9;
  opacity: 60%;
  padding: 20px;
  text-align: center;
  color: #7dfdfe;
  font-size: 20px;
  font-weight: 700;
  bottom: 0;
  width: 100%;
}

.foot {
  flex-direction: row;
}
