/* Footer.css */

.footer {
  display: flex;
  flex-direction: column;
  background-color: #3683d0;
  padding: 20px;
  text-align: center;
  color: #eadfe9;
  font-size: 14px;
  font-size: large;
  bottom: 0;
  width: 100%;
}

.foot {
  flex-direction: row;
}
