body {
  overflow-x: hidden;
}

.navbar {
    display: flex;
    position:sticky;
    align-items: center;
    justify-content: space-between;
    background-color: #7930d8;
    color: #389d5b;
    top: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: 700px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border: 2px solid #121212;
    border-radius: 40px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .logo a {
    color: #00f355;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }

  .nav-links {
    display: flex;
  }

  
  .nav-links a {
    color: #00f355;
    text-decoration: none;
    font-weight: 700;
    margin-left: 15px;
    cursor: pointer;
    position: relative; /* Required for positioning the pseudo-element */
    padding: 7px 15px; /* Add padding to create space around the oval */
    border-radius: 30px;
    transition: background-color 0.3s; /* Add smooth transition for background color */
  }
  
  .nav-links a:hover {
    background-color: rgba(255, 255, 255, 0.877); /* Oval background color with transparency */
    color: #7930d8;
  }

  @media (max-width: 800px) {
    .navbar {
      display: flex;
      position: sticky;
      align-items: center;
      background-color: #3683d0;
      color: white;
      cursor: default;
      top: 0;
      margin: 0; /* Remove all margins */
      padding: 10px; /* Adjust padding for better spacing */
      width: 100%; /* Take up the whole width of the screen */
      border-top-right-radius: 0; /* Remove the border radius */
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  
    .logo {
      flex-grow: 1;
      padding: 0 20px; /* Add padding to the logo */
    }
  
    .logo a {
      color: white;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      cursor: default;
    }
  
    .nav-links {
      display: flex;
      justify-content:space-evenly;
      flex-grow: 1;
      width: flex; /* Occupy 70% of the available space */
    }
  
    .nav-links a {
      color: white;
      text-decoration: none;
      margin-left: 20px;
      cursor: pointer;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0);
      transition: background-color 0.3s;
    }

    .nav-links a:last-child {
        margin-left: 10px; /* Reduce the margin for the last link */
      }
  
    .nav-links a:hover {
      background-color: rgba(255, 255, 255, 0.877); /* Oval background color with transparency */
      color: #3683d0;
    }
  }
  
  